.md-typeset .mermaid {
    overflow-x: auto;
    overflow-y: hidden;
    text-align: center;
    margin: 1rem 0;
}

.md-typeset .mermaid svg {
    max-width: none !important;
    height: auto;
}

.md-typeset .mermaid text {
    font-size: 14px;
}